* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", Arial, sans-serif;
}

body {
  background: #000;
  color: white;
}

/* AUTH */
.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at top, #290044, #000);
}

.auth-box {
  width: 360px;
  padding: 30px;
  background: #090010;
  border: 1px solid #7b2cff;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(123, 44, 255, 0.4);
}

.auth-box h1 {
  text-align: center;
  margin-bottom: 25px;
  color: #c77dff;
  font-size: 48px;
}

/* COMMON */
input {
  width: 100%;
  padding: 13px;
  margin: 8px 0;
  background: #12001f;
  border: 1px solid #7b2cff;
  color: white;
  border-radius: 10px;
  outline: none;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background: linear-gradient(135deg, #7b2cff, #b000ff);
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

p {
  text-align: center;
  margin-top: 15px;
  color: #c77dff;
  cursor: pointer;
}

/* CHAT LAYOUT */
.chat-app {
  display: flex;
  height: 100vh;
  background: #000;
}

/* LEFT SIDEBAR */
.sidebar {
  width: 300px;
  background: #050008;
  border-right: 1px solid #24003d;
  padding: 18px;
}

.sidebar h2 {
  color: #d37bff;
  font-size: 22px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar h2::before {
  content: "☻";
  width: 34px;
  height: 34px;
  background: linear-gradient(135deg, #7b2cff, #d000ff);
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box {
  margin-bottom: 18px;
}

.search-box input {
  height: 42px;
  font-size: 13px;
}

.sidebar h3 {
  font-size: 13px;
  color: white;
  margin: 10px 0;
}

/* FRIEND LIST */
.friend {
  padding: 13px 15px;
  margin: 10px 0;
  background: #14001f;
  border: 1px solid #32004f;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.friend span {
  font-size: 16px;
  font-weight: 600;
}

.online {
  color: #00ff7b;
  font-size: 13px;
}

.offline {
  color: #999;
  font-size: 13px;
}

.logout {
  margin-top: 25px;
  background: #4b0069;
}

/* CHAT SECTION */
.chat-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #000;
}

.chat-header {
  height: 64px;
  padding: 10px 18px;
  background: #12001f;
  border-bottom: 1px solid #7b2cff;

  display: flex;
  align-items: center;
  gap: 12px;

  cursor: pointer;
}

.chat-user-avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;

  background: linear-gradient(135deg, #7b2cff, #d000ff);
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 22px;
  color: white;
}

.chat-user-info h3 {
  color: #d37bff;
  font-size: 22px;
  margin: 0;
}

.chat-user-info small {
  color: #999;
  font-size: 11px;
}

/* MESSAGES */
.messages {
  flex: 1;
  padding: 22px;
  overflow-y: auto;
}

.msg {
  max-width: 55%;
  padding: 13px 18px;
  margin: 12px 0;
  border-radius: 14px;
  font-size: 16px;
}

.own {
  margin-left: auto;
  background: linear-gradient(135deg, #7b2cff, #9d20ff);
  color: white;
}

.other {
  margin-right: auto;
  background: #160020;
  border: 1px solid #7b2cff;
  color: white;
}

.empty-chat {
  margin: auto;
  font-size: 22px;
  color: #777;
}

/* SEND BOX */
.send-box {
  display: flex;
  padding: 15px;
  background: #050008;
  border-top: 1px solid #7b2cff;
}

.send-box input {
  flex: 1;
  height: 44px;
}

.send-box button {
  width: 90px;
  margin-left: 10px;
}

/* NOTICE */
.notice-box {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  background: rgba(123, 44, 255, 0.15);
  border: 1px solid #7b2cff;
  color: #d8b4ff;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
}

/* SEARCH DROPDOWN */
.suggestion-dropdown {
  width: 100%;
  margin-top: 6px;
  background: #0b0013;
  border: 1px solid #9b30ff;
  border-radius: 10px;
  overflow: hidden;
}

.suggestion-row {
  height: 44px;
  padding: 0 10px 0 14px;
  border-bottom: 1px solid rgba(155, 48, 255, 0.25);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.suggestion-row span {
  color: white;
  font-size: 15px;
  font-weight: 600;
}

.suggestion-add-btn {
  width: 28px !important;
  height: 28px !important;
  min-width: 28px !important;
  padding: 0 !important;
  margin: 0 !important;
  border-radius: 50% !important;
  font-size: 18px !important;
}

/* PROFILE VIEW */
.chat-header {
  cursor: pointer;
}

.profile-view {
  flex: 1;
  background: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
  border-top: 1px solid #12001f;
  position: relative;
}

.profile-avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: linear-gradient(135deg, #7b2cff, #d000ff);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 55px;
  color: white;
  margin-bottom: 18px;
}

.profile-view h2 {
  color: #c77dff;
  font-size: 22px;
  margin-bottom: 70px;
}

.delete-friend-btn {
  width: 220px !important;
  background: transparent !important;
  color: #ff3b6b !important;
  border: 1px solid #b000ff !important;
  box-shadow: none !important;
}

.profile-view .back-btn {
  position: absolute !important;
  top: 18px !important;
  left: 18px !important;

  width: 90px !important;
  max-width: 90px !important;
  min-width: 90px !important;

  padding: 9px 0 !important;
  margin: 0 !important;

  background: #14001f !important;
  border: 1px solid #7b2cff !important;
  color: #c77dff !important;
  border-radius: 10px !important;

  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
}
